server {
        listen      9443 {{ if .Ssl }}ssl{{ end }};
        server_name {{ .Host }};

        {{ if .Ssl }}ssl_certificate        {{ .SslCert }};{{ end }}
        {{ if .Ssl }}ssl_certificate_key    {{ .SslKey }};{{ end }}

        location / {
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass {{ if .Https }}https{{ else }}http{{ end }}://{{ .Ip }}:{{ .Port }};
        }
}
